<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @user.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Genero:</b>
  <%= @user.genero %>
</p>

<p>
  <b>Data nascimento:</b>
  <%= @user.data_nascimento %>
</p>

<p>
  <b>Senha:</b>
  <%= @user.senha %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<%= link_to 'Ebooks do Usuario', user_ebook_path(@user) %> |  <%= link_to 'Back', users_path %>
