<%= form_for(@compra) do |f| %>
  <% if @compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
      <% @compra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
    <input disabled="disabled" id="nome" name="nome" readonly="readonly" size="30" type="text" value="<%= User.find(session[:user_id]).nome %>">
    </div>
  <div class="field">
    <%= f.label :ebook_id %><br />
    <%= f.hidden_field :ebook_id, :value => params[:ebook_id] %>
    <input disabled="disabled" id="ebook" name="ebook" readonly="readonly" size="30" type="text" value="<%= params[:ebook_id] %>">
    <!-- DEBUG PARA RAILS - CONSOLE -->
    <!--
    <%= puts ">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>" %>
    <%= puts ">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>" %>
    <%= puts params %>
    <%= puts ">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>" %>
    <%= puts ">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>" %>
    -->
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.hidden_field :valor, :value => Ebook.find(params[:ebook_id]).valor %>
    <input disabled="disabled" id="valor" name="valor" readonly="readonly" size="30" type="text" value="<%= Ebook.find(params[:ebook_id]).valor %>">
  </div>
  <div class="actions">
    <%= f.submit :value => "Confirmar Compra" %>
  </div>
<% end %>
