<h1>Listing ebooks</h1>

<table>
  
<% @ebooks.each do |ebook| %>
  <tr>
    <td><%= link_to ebook.titulo, ebook %></td></tr><tr>
    <td><%= ebook.autor %></td></tr><tr>
    <td><%= link_to 'Edit', edit_ebook_path(ebook) %></td>
    <td><%= link_to 'Destroy', ebook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ebook', new_ebook_path %>
