<h1>Listing ebooks</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Descricao</th>
    <th>Edicao</th>
    <th>Valor</th>
    <th>Genero</th>
    <th>Paginas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ebooks.each do |ebook| %>
  <tr>
    <td><%= ebook.titulo %></td>
    <td><%= ebook.autor %></td>
    <td><%= ebook.descricao %></td>
    <td><%= ebook.edicao %></td>
    <td><%= ebook.valor %></td>
    <td><%= ebook.genero %></td>
    <td><%= ebook.paginas %></td>
    <td><%= link_to 'Show', ebook %></td>
    <td><%= link_to 'Edit', edit_ebook_path(ebook) %></td>
    <td><%= link_to 'Destroy', ebook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ebook', new_ebook_path %>
